<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>
<div class="panel-footer">
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
</div>